.subscription__title {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;

  color: rgba(255, 255, 255, 1);

  margin-bottom: 30px;
}

.social-media__wrapper {
  margin-top: 44px;
}
