.data__box {
  margin: 33px;
}

.data-status__wrapper {
  width: 280px;
}

.input-data__box {
  display: flex;
  flex-direction: column;
}

.gender-date__wrapper {
  display: flex;
}

.input-date__wrapper {
  width: 240px;

  margin-left: 35px;
}

.document__wrapper {
  border-top: 1px solid #928f94;
  border-bottom: 1px solid #928f94;
}

.document__container {
  width: 686px;

  display: flex;
}

.document-checker {
  flex-grow: 1;
}

.document-checker__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;

  color: #928f94;

  margin-bottom: 10px;
}

.passport__container {
  display: flex;
}

.document-input__wrapper {
  width: 205px;

  margin-left: 35px;
}

.data-add__box {
  padding: 33px;
  display: flex;
}

.data-add__box_success {
  background-color: #b2f6a1;
}

.passenger-form__btn {
  display: block;
  height: 52px;

  border-radius: 5px;
  border: 1px solid #292929;
  background-color: transparent;

  font-size: 24px;
  font-weight: 700;
  line-height: 28px;

  color: #292929;

  padding: 11px 17px 11px 17px;
  margin-left: auto;

  cursor: pointer;
}

.passenger-form__btn:hover {
  color: #ffa800;
  border: 1px solid #292929;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.passenger-form__btn:active {
  color: #292929;
  border: none;
  background-color: #ffa800;
  box-shadow: 0px 4px 4px 0px #00000040;
}
