.manual {
  width: 100%;

  color: rgba(255, 255, 255, 1);

  margin-top: 60px;
}

.manual__header {
  max-width: 1400px;

  display: flex;
  justify-content: space-between;
}

.manual__title {
  font-size: 36px;
  line-height: 42px;
}

.manual__btn {
  width: 325px;
  height: 60px;

  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 700;

  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;

  background-color: transparent;
}

.manual__btn:hover {
  background-color: #ffca62;
  color: #2d2b2f;
  border: none;
}

.manual__btn:active {
  background-color: #ffffff;
  color: #2d2b2f;
  border: none;
}

.manual__cards {
  max-width: 885px;

  display: flex;
  justify-content: space-between;

  margin: 97px auto 0 auto;
}

.card_monitor {
  background-image: url('../../assets/images/monitor.png');
}

.card_building {
  background-image: url('../../assets/images/building.png');
}

.card_earth {
  background-image: url('../../assets/images/earth.png');
}
