.reviews__bullet-points {
    max-width: fit-content;
    display: flex;

    margin: 135px auto 0 auto;
}

.reviews__bullet-point {
    width: 19px;
    height: 19px;

    border-radius: 50%;

    background-color: rgba(229, 229, 229, 1);

    margin-right: 11px;
}

.reviews__bullet-point_active {
    background-color: rgba(196, 196, 196, 1);
}
