.footer__nav-container {
  height: 95px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__nav-link {
  display: block;

  width: 36px;
  height: 36px;

  background-image: url(assets/images/footer_nav_button.png);
  background-position: center;
  background-repeat: no-repeat;
}

.footer__design-link {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
  color: rgba(229, 229, 229, 1);
}
