.carriage-widget__mask {
  min-width: 921px;
  max-width: 921px;
  min-height: 145px;
  max-height: 145px;

  font-size: 14px;
  font-weight: 400;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  padding: 0 76px 0 47px;
  margin: 0 auto;
}

.carriage-mask_seat {
  background-image: url(assets/images/carriage__seats.png);
}

.carriage-mask_econom {
  background-image: url(assets/images/carriage__econom.png);
}

.carriage-mask_compartment {
  background-image: url(assets/images/carriage__compartment.png);
}

.carriage-mask_luxury {
  background-image: url(assets/images/carriage__luxury.png);
}

.carriage__number {
  width: fit-content;

  color: #ffffff;
  background-color: #333333;

  padding: 4px;
}

.carriage-seats__container {
  width: 710px;

  margin: 4px 0 0 auto;
}
