.form-info__container {
  display: flex;
  align-items: center;
}

.form-info__icon {
  width: 32px;
  height: 32px;

  border-radius: 50%;

  background-image: url(../../../../assets/images/icon_ok.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form-info__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;

  color: #ffffff;

  margin-left: 20px;
}
