.selection-seats {
  width: 959px;
}

.selection-seats__title {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
  text-transform: uppercase;

  color: #292929;
}

.selection-seats__container {
  margin-top: 60px;
}

.selection-seats__container-item:nth-child(n + 2) {
  margin-top: 29px;
}

.selection-seats__btn-container {
  display: flex;
  justify-content: flex-end;

  margin-top: 102px;
}

.selection-seats__btn {
  width: 222px;
  height: 60px;

  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;

  color: #ffffff;

  border-radius: 5px;
}

.selection-seats__btn_active {
  background-color: #ffa800;
}

.selection-seats__btn_active:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.selection-seats__btn_active:active {
  color: #ffa800;
  border: 1px solid #ffa800;
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.selection-seats__btn_disabled {
  background: #928f94;

  cursor: not-allowed !important;
}
