.header__lining {
  position: relative;

  width: 100%;
  height: 985px;

  background-color: #000000;
}

.header__other {
  height: 596px;
}

.header__order {
  height: 834px;
}

.header__lining_mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;

  background-position: center;
  background-repeat: no-repeat;
  background-size: content;
  opacity: 0.7;
}

.header__image_main {
  background-image: url('../../assets/images/header_main.svg');
}

.header__image_other {
  background-image: url('../../assets/images/header_other.svg');
}

.header__image_order {
  background-image: url('../../assets/images/header_order.svg');
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 7;

  padding-top: 15px;
}

.header__nav-lining {
  width: 100%;
  height: 94px;

  display: flex;
  align-items: center;

  background-color: rgba(41, 41, 41, 1);
}

.header__content-container {
  position: relative;

  height: 825px;

  display: flex;
  justify-content: space-between;
}

.header__other .header__content-container {
  height: 438px;
}

.header__title {
  font-size: 72px;
  font-weight: 100;
  line-height: 84px;
  text-align: left;

  color: #ffffff;

  margin: 415px 0 0 90px;
}

.header__title_bold {
  font-weight: 700;
}

.header__form-container {
  width: 730px;
  height: 574px;

  background: #292929cc;

  position: absolute;
  bottom: 0;
  right: -23px;

  padding: 79px 23px 0px 23px;
}

.header__other .header__form-container {
  width: 1490px;
  height: 323px;

  left: -45px;
  right: -45px;
  padding: 28px 45px 0px 45px;
}

.header-order__title {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  text-align: left;

  color: #ffffff;

  margin-top: 350px;
}
