.about {
  text-align: left;

  max-width: 1000px;
}

.about__title {
  font-size: 36px;
  line-height: 42px;
}

.about__container {
  display: flex;
  font-size: 24px;

  margin-top: 40px;
}

.vertical-line {
  min-width: 9px;
  background-color: #ffa800;
}

.about__content {
  margin-left: 19px;
}

.about__text {
  margin-bottom: 10px;
}

.text_bold {
  font-weight: bold;
}
