.reviews__card {
  display: flex;
  justify-content: space-between;
}

.reviews__image-box {
  width: 205px;
  height: 205px;
}

.reviews__image {
  width: 100%;

  border-radius: 50%;
}

.reviews__content {
  max-width: 400px;

  padding-top: 20px;
  margin-left: 35px;
}

.reviews__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}

.reviews__text {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  line-height: 21px;
  text-align: left;

  margin-top: 20px;
}
