.cities-list {
  width: 325px;
  min-height: 57px;

  border-radius: 3px;

  background-color: #f5f4f6;

  box-shadow: 0px 4px 4px 0px #00000040;

  padding: 15px 25px 15px 25px;
}

.cities-list__item {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;

  color: #292929;

  cursor: pointer;
}

.cities-list__item:hover {
  font-weight: bold;
}

.cities-list__item:nth-child(n + 2) {
  margin-top: 7px;
}
