.carriage-details__header {
  color: #000000;
}

.carriage-number__checker {
  display: flex;
  align-items: baseline;

  background-color: #ffa80070;

  padding: 5px 19px 5px 19px;
}

.carriage-number__tittle {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;

  margin-right: 5px;
}

.carriage-number__list {
  display: flex;
}

.carriage-number__list-item {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;

  cursor: pointer;
}

.carriage-number__list-item:nth-child(n + 2) {
  margin-left: 5px;
}

.carriage-number_active {
  color: #ffffff;
}

.carriage-number__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  color: #292929;

  margin-left: auto;
}

.carriage-checked__list-item:nth-child(n + 2) {
  border-top: 1px solid #c4c4c4;
  padding-top: 32px;
}

.tickets-cost__container {
    height: 81px;

    display: flex;
    align-items: center;
}

.tickets-cost__text {
    width: fit-content;    

    display: flex;
    align-items: baseline;

    margin: 0 38px 0 auto;
}

.tickets-cost__value {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;

    color: #FFA800;
}

.tickets-cost__valuta {
    width: 14px;
    height: 17px;

    background-image: url(../../../../assets/images/icon_valuta_rubl.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    margin-left: 10px;
}
