.info-widget__container {
  width: 665px;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 2px 2px 0px #00000040;
}

.info-widget__header {
  border-bottom: 1px solid #c4c4c4;

  padding: 35px;
}

.info-widget__body {
  border-bottom: 1px solid #c4c4c4;

  padding: 45px;
}

.info-widget__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;

  color: #000000;
}

.info-widget__text:last-child {
  margin-top: 40px;
}

.info-widget__footer {
  padding: 27px 0 27px 0;
}

.info-widget__btn {
  display: block;

  width: 233px;
  height: 52px;

  font-size: 24px;
  font-weight: 700;
  line-height: 28px;

  color: #292929;

  border-radius: 5px;
  border: 1px solid #292929;
  background-color: transparent;

  margin: 0 auto;

  cursor: pointer;
}

.info-widget__btn:hover {
  color: #ffa800;
  background-color: transparent;
  border: 1px solid #292929;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.info-widget__btn:active {
  color: #292929;
  background-color: #ffa800;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000040;
}
