.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.text_left {
  text-align: left;
}

.text_right {
  text-align: right;
}

.text_bold {
  font-weight: 700;
}

.text_black {
  color: #000000;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@keyframes popover {
  0% {
    height: 0px;
    overflow: hidden;
    opacity: 0.5;
  }
  100% {
    overflow: unset;
    height: 500px;
    opacity: 1;
  }
}
