.cost-filter {
  width: 100%;

  color: #ffffff;
}

.cost-filter__tittle {
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;

  margin-bottom: 11px;
}

.cost-filter__limits-tittles {
  display: flex;
  justify-content: space-between;

  margin-bottom: 9px;
}

.limits-tittle {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.cost-filter__scale {
  position: relative;
  width: 100%;
  height: 20px;

  border-radius: 8px;
  border: 1px solid #c4c4c4;

  background-color: transparent;

  cursor: pointer;
}

.scale__point {
  width: 24px;
  height: 24px;

  border-radius: 50%;
  background-color: #ffffff;

  position: absolute;
  z-index: 99;
  top: -2px;
  left: -2px;
}

.scale__point_right {
  right: -2px;
  left: unset;
}

.cost-filter__scale_active {
  position: relative;

  height: 100%;

  border-radius: 8px;
  background-color: #ffa800;
}

.cost-filter__limits-values {
  position: relative;

  display: flex;
  justify-content: space-between;

  margin-top: 9px;
}

.limits-value {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  color: #e5e5e5;
}

.limits-value_current {
  position: absolute;
}
