.form-fail__container {
  display: flex;
  align-items: center;

  background-color: #ff3d0061;

  padding: 33px;
}

.form-fail__icon {
  width: 32px;
  height: 32px;

  border-radius: 50%;

  background-image: url(../../../../assets/images/icon_form-fail.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.form-fail__info {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;

  color: #292929;

  margin-left: 20px;
}

.form-fail__example-value {
  font-weight: 700;
}
