.subscription-form {
  position: relative;
  display: flex;
}

.subscription__box {
  display: flex;
  flex-direction: column;
}

.subscription__label {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;

  color: rgba(229, 229, 229, 1);

  margin-bottom: 20px;
}

.subscription__input {
  width: 450px;
  height: 60px;

  border-radius: 3px;

  font-size: 24px;
  font-weight: 400;
  line-height: 28px;

  padding: 17px;
}

.subscription__btn {
  width: 169px;
  height: 60px;

  align-self: flex-end;

  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 3px;

  background-color: transparent;

  font-size: 24px;
  font-weight: 400;
  line-height: 28px;

  color: rgba(229, 229, 229, 1);

  margin-left: 33px;
}

.subscription__btn:hover {
  background-color: #ffca62;
  border: none;
  color: #2d2b2f;
}

.subscription__btn:active {
  background-color: #ffffff;
  border: none;
  color: #2d2b2f;
}

.subscription-form__info {
  width: 300px;

  border-radius: 5px;
  background-color: #FFCA62;

  position: absolute;
  top: 120px; left: 75px;

  white-space: pre-wrap;

  padding: 20px;
}

.subscription-form__info::before,
.subscription-form__info::after {
  content: '';
  position: absolute;
  left: 141px;
  top: -18px;

  border: 10px solid transparent;
  border-bottom: 10px solid #FFCA62;
}

.subscription-form__info::after {
  border-bottom: 10px solid #FFCA62;

  top: -18px;
}

.subscription-form__info-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
  text-align: center;
}
